[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"


[dev-packages]

nose = "*"
codecov = "*"


[requires]

python_version = "3.6"


[scripts]

enabler = "python -m enabler"
test = "nosetests --with-coverage --cover-package=enabler"
